@model TonaWebApp.Models.User

@await Component.InvokeAsync("Navbar", Model.Id)

<div class="page-container">
    <div class="profile-section">

        <div class="profile-img">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Model.ImageUrl" alt="Profile Image">
            }
            else
            {
                <img src="https://p7.hiclipart.com/preview/782/114/405/5bbc3519d674c.jpg" alt="Default Profile Image">
            }
        </div>

        <div class="profile-card">
            <div class="contact-card">
                <div class='contact-text'>
                    <h2>@Model.FirstName @Model.LastName</h2>
                     <p>@Model.Description</p>
                </div>
            </div>

            <div class="contact-card">
                <div class='contact-text'>
                    <h2>Contact Information</h2>
                    <p>Email: @Model.Email</p>
                    <p>Phone: @Model.Phone</p>
                </div>
            </div>

            <a href="/User/EditProfile" class="edit-profile-button">Edit Profile</a>
        </div>
    </div>
</div>
