@model UserAndNotifications

@await Component.InvokeAsync("Navbar", Model.User.Id)

<h1 class="topic-header">Notification</h1>

<div class="noti-container">
    
    @foreach(var notification in @Model.Notifications)
    {
        string formattedDueDate = notification.CreateAt.ToString("dd MMMM yyyy h:mm tt");

        <div class="noti-card">
            <a href="/Board/Detail/@(notification.BoardId)">
            <div class="noti-title">@notification.Title</div>
            <div class="noti-time"><i class='bx bx-time-five' ></i><span>@formattedDueDate</span></div>
            <div class="noti-person"><i class='bx bx-user' ></i> <span>@notification.Auther.FirstName @notification.Auther.LastName</span></div>
            <div class="noti-subtitle">@notification.SubTitle</div>
            </a>
        </div>
    }
</div>
