@model BoardAndUserModel

@{
    string formattedDueDate = @Model.Board.EndTime.ToLocalTime().ToString("dd MMMM yyyy");
}
@await Component.InvokeAsync("Navbar", Model.User.Id)

<div>
    <div class="detail-box">
        <div class="board-header">
            <div class="f-start">
                <div class="board-title">
                    <h1>@Model.Board.Name</h1>
                    <div class="board-tag">
                        @Model.Board.Tag
                    </div>
                </div>
                <div class="bl-nita">
                    <div class="board-status">
                        @(Model.Board.IsActive ? "Active" : "Inactive")
                    </div>
                    <div class="location-text">
                        <i class="fa-solid fa-location-dot"></i>
                        <h2>@Model.Board.Place</h2>         
                    </div> 
                </div>
            </div>
            <div class="board-tail">
                <div class="avatar">
                @if (!string.IsNullOrEmpty(Model.Board.Auther.ImageUrl))
                {
                    <img src="@Model.Board.Auther.ImageUrl" alt="Profile Image" class="avatar"/>
                }
                else
                {
                    <img src="https://p7.hiclipart.com/preview/782/114/405/5bbc3519d674c.jpg" alt="Mockup Image" class="avatar"/>
                }
                </div>
                <p><br>create by @Model.Board.Auther!.FirstName @Model.Board.Auther.LastName</p>
            </div>
        </div>
        <div class="horizontal-line"></div>
        <div class="board-detail">
            <p>@Model.Board.Description</p>
            <h4>ประกาศจะหมดอายุวันที่</h4>
            <p>@formattedDueDate</p>
            <h4>ข้อกำหนดเพิ่มเติม</h4>
            <p></p>
        </div>
        <div class="f-between row-center">
            <p>จำนวนคนที่รับ @Model.Board.MemberList.Count / @Model.Board.MaxMember</p>
            @if (Model.Board.Auther.Email == Model.User.Email)
            {
                if (Model.Board.IsActive)
                {
                    <form asp-controller="Board" asp-action="CloseBoard" method="post">
                        <input type="hidden" name="id" value="@Model.Board.Id" />
                        <button class="button-board" type="submit">ปิดประกาศ</button>
                    </form>
                }
                else
                {
                    <form asp-controller="Board" asp-action="OpenBoard" method="post">
                        <input type="hidden" name="id" value="@Model.Board.Id" />
                        <button class="button-board" type="submit">เปิดประกาศ</button>
                    </form>
                }
            }
            else
            {
                if (Model.Board.MemberList.Any(u => u.Email == Model.User.Email))
                {
                    <form asp-controller="Board" asp-action="SignOutToBoard" method="post">
                        <input type="hidden" name="email" value="@Model.User.Email" />
                        <input type="hidden" name="id" value="@Model.Board.Id" />
                        <button class="button-board" type="submit">ลงชื่อออกจากบอร์ด</button>
                    </form>
                }
                else
                {
                    <form asp-controller="Board" asp-action="SignInToBoard" method="post">
                        <input name="email" type="hidden" value="@Model.User.Email" />
                        <input name="id" type="hidden" value="@Model.Board.Id" />
                        <button class="button-board" type="submit">ลงชื่อในบอร์ด</button>
                    </form>
                }
            }
        </div>
    </div>
</div>